<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Anime Recommendation System{% endblock %}</h1>
{% endblock %}

{% block content %}
<body>
<form method="POST" action="/search">
<p>
  Genres: <input type="text" name="genres">
  Exclude genres: <input type="text" name="exclude"> 
  Minimum Rating: <input type="text" name="min_rating"> 
  <input type="submit" value="Submit"> 
</p>
</form>

<form method="POST" action="/lookup">
  <p>
    Or search by anime name: <input type="text" name="anime_name"> <input type="submit" value="Submit">
  </p>
</form>

</body>
{% endblock %}

</html>
